.root {
    -fx-background-color: #333333;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.grid-pane {
    -fx-padding: 20px;
    -fx-vgap: 15px; /* Menambahkan jarak vertikal antar row */
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
}

.text-field, .password-field {
    -fx-background-color: #444444;
    -fx-border-color: #555555;
    -fx-border-width: 1px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-padding: 5px 15px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #45a049;
}

.text {
    -fx-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.text:hover {
    -fx-fill: #4CAF50;
}